<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WebCDR</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="js/vendor/backgrid/backgrid.min.css">
        <link rel="stylesheet" href="js/vendor/backgrid-paginator/backgrid-paginator.min.css">
        <link rel="stylesheet" href="js/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="js/vendor/bootstrap-select/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="js/vendor/bootstrap-daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="js/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/datepicker3.css">
        <link rel="stylesheet" href="css/webcdr.css">
        <script>
        var LOCALE = '<%= locale %>';
        var DICT = <%- $$.getJSON() %>;
        function $$ (string) {
          return DICT[string] || string;
        }
        var URL_PREFIX = '<%= urlPrefix %>';
        </script>
    </head>
    <body>
        <div class="container">
            <div id="error" class="alert alert-danger" style="display: none"></div>
        </div>
        <div id="navigation"></div>
        <div id="main"></div>
        <div id="modal"></div>
        <script src="js/build/bundle.js"></script>
    </body>
</html>
