<form class="form-inline">
	<div class="form-group pull-right">
		<label class="sr-only" for="phone_filter">Номер телефона</label>
		<input class="phone form-control" id="phone_filter" placeholder="Поиск по номеру..."/>
	</div>
</form>
