<div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Раскрыть меню</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;WebCDR</a>
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav js-list">
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Выход</a></li>
	  </ul>
	</div>
</div>
